/* Global styles */

body{
    color: white;
    font-family: 'Open Sans', serif;
    font-weight: 500;
}

a{
    color: white;
    text-decoration: none;
}

/* Hovers */

.article-preview > p{
    display: none;
}
.article-preview > p:nth-child(1),
.article-preview > p:nth-child(2){
    display: block;
}

.article-item,
.article-category-item,
.article-latest-item{
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid rgba(177, 177, 177, 0.342);
    border-radius: 10px;

    color: white;

    background-color: grey;
}